$primary: #516360;
$secondary: #6d9387;
$tertiary: #fff;

/* Responsive Image Gallery */

.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
}

.column img {
  background-color: #000000;
  vertical-align: middle;
  width: 100%;
}

.img-container {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}


.work-title {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.top-button,
.bot-button {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  width: 50px;
  height: auto;
  top: 60%;
  left: 40%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.bot-button {
  left: 60%;
}

.img-container:hover {
  img {
    transition: .5s ease;
    opacity: 0;
    background: $secondary;
  }

  .work-title {
    opacity: 1;
  }
 
  .top-button {
    opacity: 1;
  }
  
  .bot-button {
    opacity: 1;
  } 

  .fa-hover:hover {
    color: $tertiary;
  }   
}

.work-title-text {
  background-color: transparent;
  color: $primary;
  font-size: 2rem;
}

.button-text {
  background-color: transparent;
  color: grey;
  font-size: 1.25rem;
  padding: 16px 32px;
}

.flat-button {
  color: $primary;
  background: $secondary 0 0;
  font: 11px;
  letter-spacing: 3px;
  text-decoration: none;
  padding: 8px 10px;
  border: 1px solid $primary;
  float: right;
  border-radius: 4px;

  &:hover {
    color: $tertiary;
    background: $primary;
  }
}